/* Reseteo de márgenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Activar scroll vertical */
body, html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Aplicar CormorantRegular en los textos principales */
body, p, h2 {
    font-family: 'CormorantRegular', Arial, sans-serif;
}

h2 {
    font-size: 2rem; /* Tamaño común para todos los h2 */
    font-weight: normal;
    text-transform: uppercase;
    color: #b7ccc3; /* Color usado en ambas secciones */
}

/* Layout general */
body {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    color: #333333;
    width: 100%;
}

/* Sección principal */
main {
    width: 100%;
    position: relative;
}

/* Aplica el degradado en la parte superior del contenedor */
main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Ajusta la altura para que el desvanecimiento sea sutil */
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    pointer-events: none;
    z-index: 1;
}


/* Sección 1 */
#section-1 {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #ddd;
}

.image-container {
    width: 70vw;
    padding-top: calc(50vw * 2 / 3);
    position: relative;
    overflow: hidden;
}

#section-1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-right: 30px;
}

/* Separador de secciones */
#division {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100%;
}

/* Sección 2 - Estructura de dos lados */
#section-2 {
    display: flex;
    height: 100vh;
    background-color: #ddd;
    width: 100%;
    gap: 20px;
}

/* Fuente, estilo y color para el título en la sección 2 */
#section-2 h2 {
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: #b7ccc3;
    padding-bottom: 15px;
}

#section-2 p {
    font-family: 'CormorantRegular', Arial, sans-serif;
}

/* Columna izquierda con imagen, ocupa el 70% */
#section-2 .left-side {
    flex-basis: 66%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-top: calc(68px + 30px); /* Ajuste para la altura del header */
    padding-left: 30px;
}

/* Contenedor de la imagen con proporción 10:6 en la sección 2 */
.image-container-section-2 {
    width: 95%;
    padding-top: calc(95% * 6 / 10);
    position: relative;
    overflow: hidden;
}

.image-container-section-2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section-2 h2{
    font-weight: 600;
}

/* Columna derecha con texto, ocupa el 30% */
#section-2 .right-side {
    flex-basis: 33%;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: calc(65px + 30px); /* Ajuste para la altura del header */
}

/* Limitar el ancho de los textos dentro de .right-side */
#section-2 .right-side h2,
#section-2 .right-side p {
    width: 100%;
}

/* Sección 3 - Estructura de tres columnas similar a la sección 2 */
#section-3 {
    display: flex;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100%;
    padding: 0px;
    background-color: #ddd;
    gap: 20px;
}

/* Fuente, estilo y color para el título en la sección 2 */
#section-3 h2 {
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #b7ccc3;
}

#section-3 p {
    font-family: 'CormorantRegular', Arial, sans-serif;
}


/* Columnas de la sección 3 */
#section-3 .column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-top: calc(28px + 30px); /* Ajuste para la altura del header */
}

/* Estilos para la columna izquierda en la sección 3 */
#section-3 .left-column {
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 0.23em;
    padding-left: 30px;
    font-weight: bold;
    color: #b7ccc3; /* Mismo color que los títulos de la sección 2 */
    text-transform: uppercase;
}

/* Estilos para la columna central en la sección 3 */
#section-3 .middle-column {
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
    width: 70%; /* Limita el ancho del texto en la columna central */
}

/* Estilos para la columna derecha con la imagen en la sección 3 */
#section-3 .right-column {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-right: 30px;
}

/* Contenedor de la imagen en la sección 3, ajustado al 70% de la altura de la ventana */
.image-container-section-3 {
    width: 100%; /* Ajusta el ancho al 70% de la columna derecha */
    overflow: hidden;
}

/* Imagen dentro del contenedor en sección 3 */
.image-container-section-3 img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: 100%; /* La imagen también ocupa todo el alto del contenedor */
    object-fit: cover; /* Ajuste de proporción sin distorsión */
}


/* Fondo específico para los divs con id division y division-final */
#division, #division-final {
    background-color: #b7ccc3;
    width: 100%;
}

#division p {
    text-transform: uppercase;
}

#division p, #division-final p {
    font-size: 23px;
    font-weight: 500;
}

#division-final {
    background-color: #b7ccc3;
    width: 100%;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#division-final h2 {
    color: #333333;
    font-size: 20px;
    font-family: 'TTTravelsMedium';
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    letter-spacing: 0.23em;
    padding-bottom: 20px;
}

#division-final .column-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
}

#division-final .column {
    flex: 1;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

#division-final p {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}
