:root {
    --green-text-color: #819885;
    --green-color: #adc4b9; /* Verde */
    --salmon-color: #e6876e; /* Rojo */
    --beige-color: #ebe9e9;
    --background-color: #efefef; /* Gris claro */
    --background-color-header: #dbdada; /* Gris claro */
    --text-color: #333333; /* Gris oscuro */
  }