/* Reseteo de márgenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Activar scroll vertical */
body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-color);
}

/* Aplicar CormorantRegular en los textos principales */
p, h2 {
    font-family: 'CormorantRegular', Arial, sans-serif;
}

p{
    background-color: transparent;
    letter-spacing: 0em;
}

h2 {
    letter-spacing: 0.5rem;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--green-text-color); /* Color usado en ambas secciones */
}



body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.underline{
    text-decoration: underline;
}


/* Aplica el degradado en la parte superior del contenedor */
main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%; /* Ajusta la altura para que el desvanecimiento sea sutil */
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%);
    pointer-events: none;
    z-index: 3;
}

.separator {
    border-top: 1px solid var(--text-color); /* Borde delgado exacto */
    background-color: var(--text-color); /* Define color */
    width: 100%; /* Asegura que ocupa todo el ancho */
    margin: 20px 0; /* Espaciado superior e inferior */
    padding-bottom: 0px;
    display: block; /* Asegura visibilidad */
}

.black{
    color: var(--text-color);
}

#section-1 {
    height: 100vh;
    width: 100%;
}

#image1-container {
    width: 70vw;
    padding-top: calc(50vw * 2 / 3);
    position: relative;
    overflow: hidden;
}

/* Separador de secciones */
#division {
    background-color: var(--green-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

#division h2 {
    font-family: 'CormorantBold';
    font-weight: bold;
    font-size: clamp(1.2em, 2.3vw, 3.1em);
    letter-spacing: 0.35em;
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 10px;
    width: 100%;
}

#division .separator {
    width: 62%;
    margin-left: 50px;
}

#manifest {
    font-size: clamp(0.9em, 1.5vw, 2.5em);
    font-family: 'CormorantMedium', Arial, sans-serif;
    text-transform: none;
    letter-spacing: 0.05em;
    width: 62%;
    text-align: left;
    margin-left: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
}

/* Sección 2 - Estructura de dos lados */
#section-2 {
    display: flex;
    height: auto;
    flex-direction: row;
    width: 100%;
    gap: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 90px;
    padding-top: 90px;
}

#section-2 .left-side {
    flex-basis: 64%;
    height: auto;
    display: flex;
    justify-content: left;
    margin-left: 50px;
    height: 100%;
    align-items: flex-start;
}

#image-container-section-2 {
    width: 100%;
    height: auto; /* El contenedor tiene altura fija */
    position: relative;
    padding-right: 0px;
}

#image-container-section-2 img {
    padding-top: 5px;
    width: 100%;
    height: 100%; /* Asegura que la imagen llene también el alto */
    object-fit: cover; /* La imagen se ajustará al contenedor incluso deformándose */
}


#section-2 .right-side {
    flex-basis: 36%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 50px;
    padding-left: 50px;
}

#section-2 .right-side h2 {
    font-size: clamp(1.2em, 2.3vw, 3.1em);
    letter-spacing: 0.35em;
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
}

#section-2 .right-side p {
    font-size: clamp(0.9em, 1.5vw, 2.5em);
    letter-spacing: 0.05em;
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
}

#section-2 .right-side h2, #section-2 .right-side p {
    width: 100%;
    text-align: left;
}

#division-final{
    background-color: var(--green-color);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#division-final h2{
    font-family: 'TTTravelsBold';
    font-size: clamp(1em, 2.3vw, 1.5em);
    color: var(--text-color);
    font-weight: Bold;
    letter-spacing: 0.25em;
    width: 100%;
}

#division-final .column-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 70px;
}

#division-final .column {
    flex: 1;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#division-final p {
    font-size: clamp(1em, 1.5vw, 2.5em);
    letter-spacing: 0.05em;
    width: 100%;
    align-items: left;
}

#division-final .column video{
    width: 100%;
    margin-left: auto;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 1400px) {
    #division {
        padding-top: 80px;
        padding-bottom: 80px;

    }
}

  @media (max-width:1200px){
    #division{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 70px;
        padding-bottom: 70px;
    }

  }

  @media (max-width: 1000px){

    #division{
        padding: 40px;
        margin: 0px;
    }

    #division h2{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #division .separator {
        width: 100%;
        margin-left: 0px;
    }
    #division p{
        width: 100%;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
    }

    #section-2{
        width: 100%;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        padding: 40px;
        gap: 40px;
    }

    #section-2 .left-side{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #section-2 .right-side{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #division-final{
        padding: 40px;
        margin: 0px;
    }

    #division-final .column-container{
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        gap: 40px;
    }

  }


  @media (max-width: 600px) {

    
}

