* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-color);
}

main{
    padding-right: 50px;
    padding-left: 50px;
}

/* Aplica el degradado en la parte superior del contenedor */
main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%; /* Ajusta la altura para que el desvanecimiento sea sutil */
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%);
    pointer-events: none;
    z-index: 3;
}

h2{
    width: 100%; /* La sección ocupa el 66% del ancho del main */
    letter-spacing: 0.5rem;
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--salmon-color);
    text-align: left;
    padding-bottom: 20px;
}

a{
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: normal;
    color: var(--text-color);
}



.countries {
    list-style: none;
    padding: 0;
    margin: 0;
    column-count: 1; /* Divide la lista en dos columnas */
    gap: 60px; /* Espaciado entre elementos */
}

.countries li a {
text-decoration: none; /* Elimina subrayado */
color: var(--text-color); /* Color del texto */
}

.countries li a:hover {
    color: var(--text-color); /* Cambia a tu color preferido */
  }

.countries a:hover, 
.countries a.hover {
    color: var(--text-color);
    background-color: var(--green-color);
}


.separator {
    border-top: 1px solid var(--text-color); /* Borde delgado exacto */
    background-color: var(--text-color); /* Define color */
    width: 66.67%; /* Asegura que ocupa todo el ancho */
    margin-bottom: 30px;
    padding-bottom: 0px;
    padding-right: 30px;
    display: block; /* Asegura visibilidad */
    margin-left: auto;
}

.section-1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 145px;
    gap: 50px;
}

.left-column{
    width: 33.33%; /* Asegura que no exceda el 33.33% */
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.right-column{
    width: 72%; /* Asegura que no exceda el 33.33% */
    height: 80%;
    padding-left: 0px;
    position: relative;
}

.section-1 h4{
    max-width: 33.33%; /* Asegura que no exceda el 66.67% */
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 0;
    text-align: left; /* Justifica el texto a la izquierda */

}
.section-1 .image-container{
    position: absolute;
    width: 100%;
    aspect-ratio: 15 / 9; /* Define la proporción de ancho a alto */
    background-color:transparent;
    top: 0px;
    z-index: 1;

}

.section-1 img{
    width: 100%;
    height: 100%; /* La imagen ocupa la altura completa del contenedor */
    object-fit: cover; /* La imagen llena el contenedor manteniendo su proporción */
}

.image-container-v1, .image-container-v2 {
    position: absolute;
    width: 38.5%;
    aspect-ratio: 32 / 50; /* Proporción vertical 32:50 */
    background-color: transparent; /* Gris claro */
    min-height: 300px;
    z-index: 2;
}

.image-container-v2 {
    transform: translate(160%, 0%); /* Ajuste para centrar completamente */
}



.section-2 h4{
    width: 100%;
    max-width: 33.33%; /* Asegura que no exceda el 66.67% */
    margin: 0;
    text-align: left; /* Justifica el texto a la izquierda */
    padding-left: 30px;

}

.section-2 .image-container{
    width: 100%;
    max-width: 60%; /* Asegura que no exceda el 66.67% */
    align-items: flex-start;
    background-color: transparent;
}

.section-2 img{
    width: 100%;
    height: auto;
    display: block;
}


.section-3 .grid {
    display: grid;
    width: 92.66%;
    grid-template-columns: 1fr 1.7fr 1fr 1.7fr; /* 4 columnas iguales */
    gap: 67px; /* Espaciado entre elementos */
    align-items: center; /* Alinear elementos verticalmente */
    justify-items: stretch; /* Centrar contenido en cada celda */
}

.section-3 h4{
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 0;
    text-align: left; /* Justifica el texto a la izquierda */
    justify-self: start; /* Posiciona el texto al extremo derecho de su celda */
    align-self: start;

}

.section-3 .image-container{
    width: 100%;
    aspect-ratio: 1.0 / 1.5; /* Relación de aspecto 1:2 (ancho:alto) */
    align-items: flex-start;
    background-color: transparent;
}

.section-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Media Queries para tamaños medianos */
@media screen and (max-width: 1200px) {
    

    .section-3 .grid {
        grid-template-columns: 1fr 2.7fr 1fr 2.7fr; /* 4 columnas iguales */
    }
}

@media screen and (max-width: 900px){
    main{
        padding-right: 40px;
        padding-left: 40px;
    }

    .section-3 .grid {
        width: 100%;
    }

    .section-3 .grid {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr; /* Define dos columnas con diferentes anchos */
        grid-template-rows: 1fr 1fr; /* Ajusta automáticamente la altura de las filas */
        gap: 50px; /* Espaciado entre elementos */
        grid-template-areas: 
            "text1 img1"  /* Primera fila: texto y su imagen */
            "img2 text2"; /* Segunda fila: imagen y su texto (swapeados) */;
    }
    
    .section-3 .grid > :nth-child(1) {
        grid-area: text1; /* Primera celda (texto de la fila 1) */
    }
    
    .section-3 .grid > :nth-child(2) {
        grid-area: img1; /* Segunda celda (imagen de la fila 1) */
    }
    
    .section-3 .grid > :nth-child(3) {
        grid-area: text2; /* Cuarta celda (texto de la fila 2) */
    }
    
    .section-3 .grid > :nth-child(4) {
        grid-area: img2; /* Tercera celda (imagen de la fila 2) */
    }
}

/* Media Queries para tamaños pequeños */
@media screen and (max-width: 600px) {
    h2{
        width: 100%; 
    }

    .separator {

        width: 100%; /* Asegura que ocupa todo el ancho */
    }
    
    .section-1 img{
        width: 100%;
        padding-left: 20px;
    }

    .section-2 h4{
        max-width: 30%; /* Asegura que no exceda el 66.67% */
    }
    
    .section-2 .image-container{
        max-width: 70%; /* Asegura que no exceda el 66.67% */
    }


}


@media screen and (max-width: 400px) {


}



