/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden; /* Evita scroll horizontal en pantallas grandes */
    height: 100%;
    background-color: #efefef;
}

/* Aplica el degradado en la parte superior del contenedor */
main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Ajusta la altura para que el desvanecimiento sea sutil */
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    pointer-events: none;
    z-index: 1;
}

/* Sección principal */
section {
    height: calc(100vh - 135px); /* Altura fija para pantallas grandes */
    width: 100vw;
    display: flex;
    padding-top: calc(65px + 30px);
    overflow: hidden; /* Oculta contenido desbordado */
}

/* Columna izquierda */
.left-column {
    flex: 1;
    max-width: 33.33%; /* Inicialmente un tercio */
    background-color: transparent;
    transition: flex 0.5s ease, max-width 0.5s ease; /* Transición suave */
}

/* Columna derecha */
.right-column {
    flex: 2;
    max-width: 66.67%; /* Inicialmente dos tercios */
    background-color: transparent;
    padding: 50px;
    display: flex;
    flex-direction: column;
    overflow: visible; /* Permite contenido visible */
    transition: flex 0.5s ease, max-width 0.5s ease; /* Transición suave */
}

/* Header dentro de la columna derecha */
.right-column h2 {
    font-size: clamp(1rem, 2vw, 1.4rem);
    letter-spacing: 0.5rem;
    margin-bottom: 10px;
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #b7ccc3;
    text-align: left;
}

/* Párrafos */
.right-column p {
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-size: clamp(0.8rem, 1.5vw, 0.8rem);
    color: #333333;
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 0;
    text-align: left; /* Justifica el texto a la izquierda */
    line-height: 1.4;
}

.last {
    width: 100%;
    margin: 0;
    text-align: left;
}

/* Separador */
.separator {
    height: 1px; /* Define altura explícita */
    background-color: #333; /* Define color */
    width: 100%; /* Asegura que ocupa todo el ancho */
    margin: 20px 0; /* Espaciado superior e inferior */
    padding-bottom: 1px;
    display: block; /* Asegura visibilidad */
}

/* Contenedor para las columnas anidadas */
.nested-columns {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1;
    width: 80%;
}

.nested-left {
    flex: 1;
    width: 100%; /* Ocupa todo el ancho disponible */
    position: relative;
    height: auto;
    overflow: hidden;
    background-color: transparent;
    margin: 0;
}

.nested-left img {
    position: relative; /* Cambia a relativo para que la imagen se vea */
    width: 100%; /* Imagen ocupa todo el ancho disponible */
    height: auto; /* Mantiene la proporción */
    object-fit: contain; /* Se asegura de que la imagen sea visible completa */
}

/* Columna derecha anidada */
.nested-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    
}

/* Media Queries para pantallas medianas */
@media screen and (max-width: 900px) {
    .left-column {
        flex: 0.5; /* Reduce progresivamente el tamaño del tercio izquierdo */
        max-width: 20%; /* Limita su ancho a un 20% */
    }

    .right-column {
        flex: 2.5; /* El contenido derecho gana espacio */
        max-width: 80%;
    }

    .nested-columns {
        width: 100%; /* Ocupa todo el ancho disponible */
    }
}

/* Media Queries para pantallas pequeñas */
@media screen and (max-width: 600px) {
    html, body {
        overflow-y: auto; /* Activa scroll vertical */
    }

    section {
        flex-direction: column;
        height: auto; /* Permite que la sección crezca con el contenido */
    }

    .left-column {
        display: none; /* Oculta la columna izquierda */
    }

    .right-column {
        flex: 1;
        max-width: 100%; /* Ocupa todo el ancho */
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 10px;
    }

    .nested-columns {
        flex-direction: column;
        gap: 20px;
    }

    .nested-left {
        width: 100%; /* Imagen ocupa todo el ancho */
        background-color: transparent;
    }

    .nested-left img {
        position: relative;
        width: 100%; /* Imagen ocupa todo el ancho disponible */
        height: auto; /* Mantiene la proporción */
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .right-column p,
    .right-column h2,
    .separator {
        width: 100%; /* Ocupan todo el ancho */
        margin-left: 0px; /* Separación con el borde izquierdo */
    }

    .right-column p {
        text-align: left; /* Texto alineado a la izquierda */
    }

    .right-column h2 {
        text-align: left; /* Título alineado a la izquierda */
        font-size: 1.2rem;
        margin-top: 20px;
    }

    .separator {
        height: 1px;
        background-color: #333;
    }
}

