* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Activar scroll vertical */
body, html {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--background-color);
    height: 100%; 
    margin: 0; 
}

.fade-in {
    opacity: 0; 
}

.fade-in.visible {
    opacity: 1; 
    transition: opacity 3s ease-in;
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

h1 {
    height: auto;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 0px;
    user-select: none; 
}

.countdown {
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0px;
    user-select: none; 
}

.bold {
    color: var(--text-color);
    transition: color 1.3s ease;
}

.bold:hover {
    color: var(--salmon-color);
    transition: color 1.6s ease;
}

.medium {
    color: var(--text-color);
}



@media screen and (max-width: 1400px) {

    h1 {
        font-size: 1.8rem;
    }

    #countdown{
        font-size: 1.3rem;

    }
}

@media screen and (max-width: 1200px) {

    h1 {
        font-size: 1.5rem;
    }

    #countdown{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 1.2rem;
    }

    #countdown{
        font-size: 1.2rem;
    }
}