* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; 
    -webkit-text-fill-color: inherit !important;
    font-family: 'CormorantRegular' !important;
    font-size: 1em !important;
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

/* Compatibilidad con otros navegadores */
input:-moz-autofill {
    background-color: transparent !important;
    -moz-box-shadow: 0 0 0px 1000px transparent inset !important;
    color: inherit !important;
    font-family: 'CormorantRegular' !important;
    font-size: 1em !important;
}

input:-ms-autofill {
    background-color: transparent !important;
    -ms-box-shadow: 0 0 0px 1000px transparent inset !important;
    color: inherit !important;
    font-family: 'CormorantRegular' !important;
    font-size: 1em !important;
}


html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-color);
}

/* Aplica el degradado en la parte superior del contenedor */
main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%);
    pointer-events: none;
    z-index: 1;
}

main {
    display: flex;
}
  
section {
    padding-top: 145px;
    padding-right: 43px;
    padding-left: 12px;
    min-height: calc(100vh - 135px);
    width: 66.67%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}
  
h2 {
    letter-spacing: 0.5rem;
    padding-bottom: 20px;
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--salmon-color);
    text-align: left;
}

p{
    font-family: 'CormorantRegular', Arial, sans-serif;
    color: var(--text-color);
    width: 100%;
    margin: 0;
    text-align: left;
}

form {
    font-family: 'CormorantRegular', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    padding-top: 50px;
    
}

textarea {
    font-family: 'CormorantRegular', Arial, sans-serif;
    width: 100%;
    height: 20px;
    padding: 0px;
    border: none;
    border-radius: 0px;
    font-size: 1em;
    resize: none;
    box-shadow: none;
    background-color: transparent;
    margin-top: 8px;
}

/* Estilo del textarea cuando está en foco */
textarea:focus {
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.separator {
    border-top: 1px solid var(--text-color);
    background-color: var(--text-color);
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-top: 1px;
}

.fine-line{
    border-top: 1px solid var(--text-color);
    background-color: var(--text-color);
    width: 100%;
    display: block;
}

.entry {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start; 
    align-items: flex-start; 
    color: var(--text-color);
    padding-top: 20px;
    padding-bottom: 30px;
  }

.datos{
    padding-top: 50px;
    user-select: text;

}

  label{
    font-size: 1.1em;
    padding-top: 20px;
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }

  input{
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
    border: none;
    height: 20px;
    outline: none;
  }


.form-section{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.send-section{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    height: 100%; 
    width: 40%;
}

button{
    background: none; 
    border: none;
    font-weight: bold; 
    text-decoration: underline;
    cursor: pointer; 
}

#salmon{
    color:var(--text-color);
}

.success-message{
    display: none;
    font-size: 1em;
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: bold;
    color: var(--salmon-color);
    text-align: left;
    padding-top: 30px;
}

@media screen and (max-width: 1200px) {
    form{
        flex-direction: column;
    }
    
    .form-section{
        width: 100%;
    }
    
    .send-section{
        display: flex;
        justify-content: flex-end; 
        align-items: flex-end; 
        width: 100%;
        padding-top: 60px;
    }
    
}

@media screen and (max-width: 900px) {
    section{
        width: 100%; 
        padding-left: 40px;
        padding-right: 40px;
    }

    .entry{
        flex-direction: column;
        width: 100%;
    }
    
    form{
        flex-direction: column;
    }
    
    .form-section{
        width: 100%;
    }
    
    .send-section{
        display: flex;
        justify-content: flex-end; 
        align-items: flex-end;
        width: 100%;
        padding-top: 60px;
    }

}

@media screen and (max-width: 600px) {

section{
    width: 100%; 
    padding-left: 25px;
    padding-right: 25px;
}

.entry{
    flex-direction: column;
    width: 100%;
}

form{
    flex-direction: column;
}

.form-section{
    width: 100%;
}

.send-section{
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end; 
    width: 100%;
    padding-top: 60px;
}


}

@media screen and (max-width: 384px) {

    section{
        padding-left: 10px;
        padding-right: 10px;
    }


}