* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Eliminar el fondo y aplicar estilos personalizados al autocompletar */
input:-webkit-autofill {
    background-color: transparent !important; /* Fondo transparente */
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* Fondo transparente */
    -webkit-text-fill-color: inherit !important; /* Hereda el color del texto */
    font-family: 'CormorantRegular' !important; /* Hereda la fuente del formulario */
    font-size: 1em !important; /* Hereda el tamaño de la fuente */
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s; /* Previene parpadeos */
}

/* Compatibilidad con otros navegadores */
input:-moz-autofill {
    background-color: transparent !important;
    -moz-box-shadow: 0 0 0px 1000px transparent inset !important;
    color: inherit !important; /* Hereda el color del texto */
    font-family: 'CormorantRegular' !important; /* Hereda la fuente del formulario */
    font-size: 1em !important; /* Hereda el tamaño de la fuente */
}

input:-ms-autofill {
    background-color: transparent !important;
    -ms-box-shadow: 0 0 0px 1000px transparent inset !important;
    color: inherit !important; /* Hereda el color del texto */
    font-family: 'CormorantRegular' !important; /* Hereda la fuente del formulario */
    font-size: 1em !important; /* Hereda el tamaño de la fuente */
}


html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-color);
}

/* Aplica el degradado en la parte superior del contenedor */
main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%; /* Ajusta la altura para que el desvanecimiento sea sutil */
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%);
    pointer-events: none;
    z-index: 1;
}

main {
    display: flex; /* Flexbox para organizar los elementos */
}
  
section {
    padding-top: 145px;
    padding-right: 43px;
    padding-left: 12px;
    min-height: calc(100vh - 135px);
    width: 66.67%; /* La sección ocupa el 66% del ancho del main */
    margin-left: auto; /* Desplaza la sección hacia la derecha */
    display: flex; /* Flexbox en la sección para alinear los hijos */
    flex-direction: column; /* Asegura que los elementos estén en columna */
    background-color: var(--background-color);
}
  
h2 {
    letter-spacing: 0.5rem;
    padding-bottom: 20px;
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--salmon-color);
    text-align: left;
}

p{
    font-family: 'CormorantRegular', Arial, sans-serif;
    color: var(--text-color);
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 0;
    text-align: left; /* Justifica el texto a la izquierda */
}

form {
    font-family: 'CormorantRegular', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    padding-top: 50px;
    
}

textarea {
    font-family: 'CormorantRegular', Arial, sans-serif;
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 20px; /* Altura inicial */
    padding: 0px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 0px; /* Bordes redondeados */
    font-size: 1em; /* Tamaño de fuente consistente */
    resize: none; /* Permite redimensionar solo verticalmente */
    box-shadow: none;
    background-color: transparent; /* Fondo transparente */
    margin-top: 8px;
}

/* Estilo del textarea cuando está en foco */
textarea:focus {
    border-color: transparent; /* Cambia el color del borde al enfocar */
    outline: none; /* Elimina el contorno predeterminado */
    box-shadow: none;
}

.separator {
    border-top: 1px solid var(--text-color); /* Borde delgado exacto */
    background-color: var(--text-color); /* Define color */
    width: 100%; /* Asegura que ocupa todo el ancho */
    display: block;
    margin-bottom: 20px;
    margin-top: 1px;
}

.fine-line{
    border-top: 1px solid var(--text-color); /* Borde delgado exacto */
    background-color: var(--text-color); /* Define color */
    width: 100%;
    display: block;
}

.entry {
    width: 90%;
    display: flex;
    flex-direction: column; /* Asegura que las columnas estén en fila horizontal */
    justify-content: start; /* Distribuye el espacio entre los elementos */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    color: var(--text-color); /* Define color */
    padding-top: 20px;
    padding-bottom: 30px;
  }

  label{
    font-size: 1.1em;
    padding-top: 20px;
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }

  input{
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
    border: none;
    height: 20px;
    outline: none;
  }


.form-section{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.send-section{
    display: flex;
    justify-content: flex-end; /* Envía el contenido a la derecha */
    align-items: flex-end; /* Envía el contenido hacia abajo */
    height: 100%; /* Asegúrate de que el contenedor tenga altura */
    width: 40%;
}

button{
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    font-weight: bold; /* Negrita */
    text-decoration: underline; /* Subrayado */
    cursor: pointer; /* Muestra el puntero de clic */
}

#salmon{
    color:var(--text-color);
}

.success-message{
    display: none;
    font-size: 1em;
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: bold;
    color: var(--salmon-color);
    text-align: left;
    padding-top: 30px;
}

@media screen and (max-width: 1200px) {
    form{
        flex-direction: column;
    }
    
    .form-section{
        width: 100%;
    }
    
    .send-section{
        display: flex;
        justify-content: flex-end; /* Envía el contenido a la derecha */
        align-items: flex-end; /* Envía el contenido hacia abajo */
        width: 100%;
        padding-top: 60px;
    }
    
}

@media screen and (max-width: 900px) {
    section{
        width: 100%; /* La sección ocupa el 66% del ancho del main */
        padding-left: 40px;
        padding-right: 40px;
    }

    .entry{
        flex-direction: column;
        width: 100%;
    }
    
    form{
        flex-direction: column;
    }
    
    .form-section{
        width: 100%;
    }
    
    .send-section{
        display: flex;
        justify-content: flex-end; /* Envía el contenido a la derecha */
        align-items: flex-end; /* Envía el contenido hacia abajo */
        width: 100%;
        padding-top: 60px;
    }

}

@media screen and (max-width: 600px) {

section{
    width: 100%; /* La sección ocupa el 66% del ancho del main */
    padding-left: 25px;
    padding-right: 25px;
}

.entry{
    flex-direction: column;
    width: 100%;
}

form{
    flex-direction: column;
}

.form-section{
    width: 100%;
}

.send-section{
    display: flex;
    justify-content: flex-end; /* Envía el contenido a la derecha */
    align-items: flex-end; /* Envía el contenido hacia abajo */
    width: 100%;
    padding-top: 60px;
}


}

@media screen and (max-width: 384px) {

    section{
        padding-left: 10px;
        padding-right: 10px;
    }


}