/* Footer */
* {
    user-select: none; /* Desactiva la selección de texto */
  }

footer {
    position: sticky;
    background-color: var(--green-color);
    font-family: 'TTTravelsMedium';
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: 105px;
    margin-top: 30px;
    font-size: 11px;
    text-transform: uppercase; /* Mayúsculas para todo el footer */
    z-index: 4; 
}

/* Estilo normal (en una línea) */
.break {
    display: inline;
}

/* Estilos comunes para el texto en el footer */
footer p, footer a {
    color: var(--text-color);
    font-size: 11px;
    letter-spacing: 0.23em;
    text-decoration: none;
    font-family: 'TTTravelsMedium';
    font-weight: 500; /* Aplica un peso de 500 a todos los enlaces y párrafos */
}

.upper {
    padding-bottom: 10px;
}

/* Clase para negrita */
.bold {
    font-weight: 700;
}

.salmon-background{
    background-color: var(--salmon-color);
}


/* Estructura de columnas en el footer */
.footer-left {
    width: 33.33%; /* La columna izquierda ocupa un tercio */
    text-align: left;
    gap: 30px;
}

.footer-right {
    width: 66.67%; /* La columna derecha ocupa dos tercios */
    text-align: left;
}

/* Subrayado permanente para enlaces en footer-right */
.footer-right a.underline {
    text-decoration: underline;
}

.footer-right a:hover {
    text-decoration: underline;
}



/* Media query para pantallas pequeñas */
@media screen and (max-width: 1000px) {

    .upper .bold{
        font-size:1.2em;
        font-weight: 500;
        font-family: 'TTTravelsMedium'; /* Fuente para "Travel Studio" */
        letter-spacing: 0.23em; /* Aplicar el mismo spacing */
    }

    .break {
        display: block; /* Cambia el guion a una nueva línea */
        text-align: center; /* Opcional, centra los elementos */
        margin: 5px 0; /* Espaciado opcional */
        opacity: 0;
    }

    .footer-text{
        font-size:1.2em;
    }
    
    footer {
        height: auto;
        flex-direction: column;
        font-size: 9px; /* Reduce el tamaño de la fuente */
        padding: 40px; /* Reduce el padding para mantener proporción */
        padding-left: 50px;
    }

    .upper{
        padding-bottom: 15px;
    }

    .footer-left {
        width: 100%; /* La columna izquierda ocupa un tercio */
        text-align: left;
        padding-bottom: 15px;
    }
    
    .footer-right {
        width: 100%; /* La columna derecha ocupa dos tercios */
        text-align: left;
    }

    footer p, footer a {
        font-size: 9px; /* Reduce el tamaño de texto en enlaces y párrafos */
        letter-spacing: 0.2em; /* Ajusta el espaciado entre letras */
    }


}

@media screen and (max-width: 600px) {
    footer {
        padding-left: 25px;
    }
}

@media screen and (max-width: 384px) {
    footer {
        padding-left: 25px;
    }

    footer p, footer a {
        font-size: 8px; /* Reduce el tamaño de texto en enlaces y párrafos */
        letter-spacing: 0.2em; /* Ajusta el espaciado entre letras */
    }

    .footer-text{
        font-size:1.1em;
    }
}

