* {
    user-select: none; 
  }

footer {
    position: sticky;
    background-color: var(--green-color);
    font-family: 'TTTravelsMedium';
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: 105px;
    margin-top: 30px;
    font-size: 11px;
    text-transform: uppercase;
    z-index: 4; 
}


.break {
    display: inline;
}


footer p, footer a {
    color: var(--text-color);
    font-size: 11px;
    letter-spacing: 0.23em;
    text-decoration: none;
    font-family: 'TTTravelsMedium';
    font-weight: 500; 
}

.upper {
    padding-bottom: 10px;
}

.bold {
    font-weight: 700;
}

.salmon-background{
    background-color: var(--salmon-color);
}


.footer-left {
    width: 33.33%; 
    text-align: left;
    gap: 30px;
}

.footer-right {
    width: 66.67%; 
    text-align: left;
}


.footer-right a.underline {
    text-decoration: underline;
}

.footer-right a:hover {
    text-decoration: underline;
}



/* Media query para pantallas pequeñas */
@media screen and (max-width: 1000px) {

    .upper .bold{
        font-size:1.2em;
        font-weight: 500;
        font-family: 'TTTravelsMedium';
        letter-spacing: 0.23em;
    }

    .break {
        display: block; 
        text-align: center; 
        margin: 5px 0; 
        opacity: 0;
    }

    .footer-text{
        font-size:1.2em;
    }
    
    footer {
        height: auto;
        flex-direction: column;
        font-size: 9px; 
        padding: 40px; 
        padding-left: 50px;
    }

    .upper{
        padding-bottom: 15px;
    }

    .footer-left {
        width: 100%; 
        text-align: left;
        padding-bottom: 15px;
    }
    
    .footer-right {
        width: 100%; 
        text-align: left;
    }

    footer p, footer a {
        font-size: 9px; 
        letter-spacing: 0.2em; 
    }


}

@media screen and (max-width: 600px) {
    footer {
        padding-left: 25px;
    }
}

@media screen and (max-width: 384px) {
    footer {
        padding-left: 10px;
    }

    footer p, footer a {
        font-size: 8px;
        letter-spacing: 0.2em; 
    }

    .footer-text{
        font-size:1.1em;
    }
}

