:root {
    --vh: 100vh; /* Valor inicial de la altura del viewport */
}

/* Estilos del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-left: 50px;
    padding-right: 60px;
    background-color: transparent; /* Fondo transparente */
    color: var(--text-color); /* Letra gris oscuro */
    height: auto; /* Altura ajustable según contenido */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Para asegurarse de que el header esté siempre encima */
}

.menu-toggle {
    display: none; /* Oculta el menú hamburguesa inicialmente */
}

/* Logo */
.logo {
    flex-grow: 1;
    font-size: 1.2em;
    text-align: left; /* Alineado a la izquierda en pantallas grandes */
}

.active.salmon {
    color: var(--salmon-color);
}

.logo a {
    color: inherit;
    text-decoration: none;
}

.logo a:visited,
.logo a:hover,
.logo a:active {
    color: inherit;
    text-decoration: none;
}

/* Navegación */
nav {
    margin-right: 0px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
    justify-content: flex-end; /* Alineado a la derecha en pantallas grandes */
    padding: 0;
    margin: 0;
}

nav ul .active {
    color: var(--green-text-color);
    text-decoration: underline;
}

nav ul li a {
    font-size: 0.75em;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 550;
    font-family: 'TTTravelsMedium';
    letter-spacing: 0.23em;
}

/* Media Queries para tamaños medianos */
@media screen and (max-width: 1200px) {
    header {
        flex-direction: column; /* Cambia a diseño vertical */
        justify-content: center; /* Centra contenido verticalmente */
        align-items: center; /* Centra contenido horizontalmente */
        padding: 20px; /* Reduce padding */
        height: auto; /* Ajusta altura dinámicamente */
    }

    .logo {
        text-align: center; /* Centra el logo */
        margin-bottom: 10px; /* Espaciado entre el logo y el menú */
        font-size: 1.2em; /* Reduce el tamaño del logo */
    }

    nav ul {
        display: flex; /* Mantiene disposición horizontal */
        flex-direction: row; /* Asegura que estén en línea */
        gap: 40px; /* Espaciado entre los elementos */
        justify-content: center; /* Centra el menú horizontalmente */
        align-items: center;
        margin: 0;
    }

    nav ul li a {
        font-size: 0.75em; /* Reduce el tamaño de la fuente */
        letter-spacing: 0.2em; /* Reduce el espaciado entre letras */
    }

}

@media screen and (max-width: 600px) {
    header {
        flex-direction: row; 
        justify-content: flex-start; 
        align-items: flex-start;
        padding: 20px; 
        padding-left: 5px;
        padding-right: 5px;
        height: auto; 
        background-color: transparent;
    }

    .logo {
        text-align: left; 
        font-size: 1.0em; 
        padding-left: 20px;
    }

    nav ul {
        display: none; /* Oculta el menú inicialmente */
        position: absolute; 
        top: 100%; 
        left: 0;
        width: 100%; 
        background-color: var(--background-color);
        flex-direction: column; 
        padding: 10px 0px; 
        z-index: 1000;
        opacity: 0; /* Comienza con opacidad 0 */
        transition: opacity 1s ease; /* Transición suave en 1 segundo */
        border-bottom: 1px solid var(--text-color);
    }

    nav ul.active {
        display: flex; /* Muestra el menú cuando está activo */
        opacity: 1; /* Opacidad completa cuando está activo */
    }

    nav ul li {
        margin: 0; /* Sin márgenes */
        padding: 7px 25px; /* Espaciado interno */
        width: 100%;
        padding-right: 40px;
    }

    nav ul li a {
        font-size: 0.8em; 
        color: var(--text-color);
        text-align: left;
        width: 100%; /* Ocupa todo el ancho disponible */
    }

    .menu-toggle {
        display: block; 
        font-size: 0.9em;
        background: none;
        border: none;
        text-decoration: none;
        cursor: pointer;
        color: var(--text-color);
        padding-right: 20px;
        font-weight: normal;
    }

    .menu-toggle:focus {
        outline: none; 
    }
}


@media screen and (max-width: 400px) {
    nav ul {
        gap: 15px; /* Reduce el espacio entre elementos */
    }

    nav ul li a {
        font-size: 0.9em; /* Reduce el tamaño de la fuente */
        letter-spacing: 0.2em; /* Reduce el espaciado entre letras */
    }
}

@media screen and (max-width: 384px) {

    .logo {
        font-size: 0.8em; 
    }

    .menu-toggle {
        font-size: 0.8em;
    }

    nav ul {
        gap: 15px; /* Reduce el espacio entre elementos */
    }

    nav ul li a {
        font-size: 0.6em; /* Reduce el tamaño de la fuente */
        letter-spacing: 0.2em; /* Reduce el espaciado entre letras */
    }
}
