/* Reseteo de márgenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Activar scroll vertical */
body, html {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-color);
    height: 100%; /* Asegurar que el contenido ocupe toda la altura */
    margin: 0; /* Elimina márgenes adicionales */
}

body{
    scroll-snap-type: y mandatory; /* Activar snapping vertical */
    scroll-behavior: smooth; /* Hacer el scroll suave */

}

footer {
    scroll-snap-align: none; /* Excluye el footer del snapping */
}

/* Aplicar CormorantRegular en los textos principales */
p, h2 {
    font-family: 'CormorantRegular', Arial, sans-serif;
}

p{
    background-color: transparent;
    letter-spacing: 0em;
}

h2 {
    font-weight: normal;
    color: var(--green-text-color); /* Color usado en ambas secciones */
}

.black{
    color: var(--text-color);
}

.salmon{
    color: var(--salmon-color);
}
.green{
    color: var(--green-color);
}

.boldie{
    font-weight: bold;
}


section {
    height: auto;
    min-height: 100vh; /* Cada sección ocupa toda la altura de la ventana */
    scroll-snap-align: start; /* Alinea cada sección al inicio al hacer scroll */
    width: 100vw;
    position: relative;
    background-color: var(--background-color);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.underline{
    text-decoration: underline;
}

/* Aplica el degradado en la parte superior del contenedor */
main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%; /* Ajusta la altura para que el desvanecimiento sea sutil */
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%);
    pointer-events: none;
    z-index: 3;
}

.separator {
    border-top: 1px solid var(--text-color); /* Borde delgado */
    background-color: var(--text-color); /* Define color */
    display: block; /* Asegura que se muestre como un bloque */
    margin: 0 auto; /* Centra horizontalmente */
    margin-top: 30px;
    margin-bottom: 30px;
}

.inter{
    padding-top: 0px;
    margin-top: 0px;
    opacity: 0;
}

#section-2 {
    position: flex;
    flex-direction: row;
    background-color: var(--background-color);
    height: 100vh;
    width: calc(100% - 100px); /* Reduce el ancho total en 100px (50px a cada lado) */

}

#container-1-2{
    width: 19%;
    height: 97%;
    background-color: rgb(195, 193, 193);
    margin-left: auto;

}

#container-2-2{
    width: 19%;
    height: 97%;
    background-color: rgb(195, 193, 193);
    margin-left: 3%;

}

#container-1-2 img,
#container-2-2 img {
    width: 100%; /* Ajusta el ancho */
    height: 100%; /* Ajusta la altura */
    object-fit: cover; /* Mantiene las proporciones */
}


#top-section{
    display: flex;
    flex-direction: row;
    height: 60%;
    padding-top: 100px;

}

#bottom-section{
    display: flex;
    flex-direction: row; /* Mantén los elementos en fila */
    justify-content: space-between; /* Espacia los elementos de manera uniforme */
    align-items: flex-start; /* Alinea verticalmente al inicio */
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
    height: 30%;

}

#bottom-section #left-2{
    width: 59%; /* Ajusta el ancho si es necesario */
    height: 100;
}

#bottom-section #right-2{
    width: 41%; /* Ajusta el ancho si es necesario */
    display: flex; /* Activa flexbox */
    flex-direction: column;
    justify-content: flex-end; /* Mueve todo el contenido al extremo derecho */
    align-items: flex-start; /* Alinea verticalmente al inicio */
}

#first-2{
    padding-top: 10px;
    padding-bottom: 20px;
    width: 45%;
}

#second-2{
    width: 48%;
    padding-bottom: 20px;
}

#bienvenidos {
    font-family: 'TTTravelsMedium', Arial, sans-serif;
    font-size: 2.8rem;
    letter-spacing: 0.23em; /* Asegúrate de que esto sea correcto */
    line-height: 1.4em;
    color: var(--text-color);
    text-align: left; /* El texto dentro del bloque estará alineado a la izquierda */
    opacity: 1;
  
}

#bienvenidos .boldie {
    font-family: 'TTTravelsBold', Arial, sans-serif;
}

#section-3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--background-color);
    width: calc(100% - 100px);
    height: 100vh;
}

#left-3{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:transparent;
}

#right-3{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-color: transparent;
}

#container-1-3{
    margin-top: 115px;
    width: 100%;
    height: 77%;
    background-color: rgb(158, 204, 239);
    margin-left: auto;
    z-index: 1;

}
#container-1-3 img{
    width: 100%;    
    height: 100%;
    object-fit: cover;

}

/* Título */
#title-3 {
    font-family: 'CormorantRegular', serif; /* Tipografía consistente */
    font-size: 4em; /* Tamaño del texto */
    color: var(--text-color); /* Color del texto */
    letter-spacing: 0.03em;
    line-height: 1em; /* Ajustar el espacio entre líneas */
    width: 60%;
    padding-top: 115px;
}

#lets-talk-3{
    text-align: left;
    padding-top: 50px;
    padding-left: 70px;

}

#first-3{
    padding-top: 50px;
    padding-left: 70px;
    width: 85%;
}
#second-3{
    padding-top: 50px;
    padding-left: 70px;
    width: 100%;
}

#section-4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--background-color);
    width: calc(100% - 100px);
    min-height: 100px;
    height: calc(100vh - 135px)
}

#left-4{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
}

#right-4{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color:transparent;
    padding-left: 70px;
}

#container-1-4{
    margin-top: 115px;
    width: 100%;
    height: 77%;
    background-color: transparent;
    z-index: 1;

}
  

#container-1-4 img{
    width: 100%;    
    height: 100%;
    object-fit: cover;
  }

/* Título */
#title-4 {
    font-family: 'CormorantRegular', serif; /* Tipografía consistente */
    font-size: 4em; /* Tamaño del texto */
    color: var(--text-color); /* Color del texto */
    letter-spacing: 0.03em;
    line-height: 1em; /* Ajustar el espacio entre líneas */
    width: 100%;
    padding-top: 115px;
}


#lets-talk-4{
    text-align: left;
    padding-top: 50px;
    padding-left: 70px;

}

#first-4{
    padding-top: 50px;
    padding-left: 70px;
    width: 95%;
}
#second-4{
    padding-top: 50px;
    padding-left: 70px;
    width: 70%;
}


/* Flechas de navegación minimalistas */
.navigation-arrows {
    position: fixed;
    z-index: 1000; /* Siempre visibles */
}

#arrow-up {
    font-family: 'TTTravelsMedium', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    top: 65px; /* Margen desde el borde superior */
    right: 62px; /* Margen desde el borde derecho */
    position: fixed;
}

#arrow-down {
    font-family: 'TTTravelsMedium', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    bottom: 10px; /* Margen desde el borde inferior */
    right: 62px; /* Margen desde el borde derecho */
    position: fixed;
}

/* Estilo de las flechas */
.arrow {
    background: none; /* Sin fondo */
    color: var(--green-color);
    border: none; /* Sin borde */
    font-size: 1em; /* Tamaño de fuente */
    font-family: 'CormorantRegular', Arial, sans-serif; /* Fuente personalizada */
    letter-spacing: 0em;
    cursor: pointer;
    transition: opacity 1s ease, color 1s ease; /* Transiciones suaves */
    opacity: 1; /* Opacidad inicial visible */
    animation: bounce 2s infinite; /* Animación sutil */
}

.arrow.hidden {
    opacity: 0; /* Ocultar la flecha con opacidad */
    pointer-events: none; /* Evitar clics mientras está oculta */
}

.arrow:hover {
    color: rgba(0, 0, 0, 0.9); /* Color más oscuro al pasar el mouse */
}

.arrow:focus {
    outline: none; /* Sin contorno al hacer clic */
}

.arrow:active {
    transform: translateY(1px); /* Sutil desplazamiento al hacer clic */
}

/* Animación de bote */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Posición inicial */
    }
    50% {
        transform: translateY(-5px); /* Elevar ligeramente */
    }
}

/* Estado inicial: opacidad cero y desplazado hacia abajo */
.fade-out {
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

/* Estado visible: opacidad completa y posición final */
.fade-in {
    opacity: 1;
    transition: opacity 1.2s ease-in-out;
}






/* Media query para pantallas más pequeñas */
@media screen and (max-width: 1405px) {

    #bienvenidos {
        font-size: 2.3rem;
    }

    #title-3 {
        font-size: 3.4em; /* Tamaño del texto */
    }

    #title-4 {
        font-size: 3.4em; /* Tamaño del texto */
    }
}

@media screen and (max-width:1200px){
    .fade-in, .fade-out {
        opacity: 1;
        transition: none; /* Elimina las transiciones */
    }
    
    body{
        scroll-snap-type: none;
    }

    #bienvenidos {
        font-size: 2.4em;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    section {
        height: auto;
        min-height: none;
        scroll-snap-align: none;
        width: 100vw;
        background-color: var(--background-color);
    }

    #section-2{
        height: auto;
        min-height: 100px;
    }

    #top-section{
        display: flex;
        flex-direction: row;
        height: 600px;
        width: 100%;
        padding-top: 115px;
    
    }

    #container-1-2{
        height: 97%;
        width: 50%;
        background-color: rgb(195, 193, 193);
        margin-left: 0px;
    
    }
    
    #container-2-2{
        height: 97%;
        width: 50%;
        background-color: rgb(195, 193, 193);
        margin-right: 0px;
    
    }


    #bottom-section{
        display: flex;
        flex-direction: column; /* Mantén los elementos en fila */
        justify-content: flex-start; /* Espacia los elementos de manera uniforme */
        align-items: flex-start; /* Alinea verticalmente al inicio */
        width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
        height: auto;
    
    }

    .inter{
        margin-top: 40px;
        opacity: 1;
    }

    #bottom-section #left-2{
        display: flex;
        flex-direction: column;
        width: 100%; /* Ajusta el ancho si es necesario */
        height: auto;
        order: 2; /* Invertir orden */
    }
    
    #bottom-section #right-2{
        width: 100%; /* Ajusta el ancho si es necesario */
        height: auto;
        display: flex; /* Activa flexbox */
        flex-direction: row;
        justify-content: flex-start; /* Mueve todo el contenido al extremo derecho */
        align-items: flex-start; /* Alinea verticalmente al inicio */
        order: 1; /* Invertir orden */
    }
    
    #first-2{
        padding-top: 10px;
        padding-bottom: 20px;
        width: 60%;
    }
    
    #second-2{
        width: 60%;
    }

    #lets-talk-2{
        padding-top: 20px;
        text-align: left;
    }
    /* Estilo de las flechas */
    .arrow {
        display: none;
    }

    /*SECTION 3*/

    #section-3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: var(--background-color);
        width: calc(100% - 100px);
        height: auto;
    }
    
    #left-3{
        width: 100%;
        height: auto;
        order: 2;
    }
    
    #right-3{
        width: 100%;
        height: auto;
        order: 1;
    }
    
    #container-1-3{
        margin-top: 20px;
        width: 100%;
        height: 60vw;
        background-color: rgb(158, 204, 239);
        margin-left: 0px;
        z-index: 1;
    }
    #container-1-3 img{
        width: 100%;    
        height: 100%;
        object-fit: cover;
    
    }
    
    /* Título */
    #title-3 {
        font-family: 'CormorantRegular', serif; /* Tipografía consistente */
        font-size: 4.5em; /* Tamaño del texto */
        color: var(--text-color); /* Color del texto */
        letter-spacing: 0.03em;
        line-height: 1em; /* Ajustar el espacio entre líneas */
        width: 48%;
        padding-top: 40px;
    }
    
    #lets-talk-3{
        text-align: left;
        padding-top: 40px;
        padding-left: 0px;
    
    }
    
    #first-3{
        padding-top: 50px;
        padding-left: 0px;
        width: 70%;
    }
    #second-3{
        padding-top: 50px;
        padding-left: 0px;
        width: 100%;
    }



    #section-4 {
        flex-direction: column;
        height: auto;
    }

    
    #left-4{
        width: 100%;
        height: auto;
    }
    
    #right-4{
        width: 100%;
        height: 100%;
        padding-left: 0px;
    }
    
    #container-1-4{
        margin-top: 115px;
        width: 100%;
        height: 60vw;
        background-color: transparent;
        z-index: 1;
    
    }
      
    
    #container-1-4 img{
        width: 100%;    
        height: 100%;
        object-fit: cover;
      }
    
    /* Título */
    #title-4 {
        font-size: 4.5em; /* Tamaño del texto */
        width: 100%;
        padding-top: 40px;
    }
    
    
    #lets-talk-4{
        text-align: left;
        padding-top: 50px;
        padding-bottom: 0px;
        padding-left: 0px;
    
    }
    
    #first-4{
        padding-top: 50px;
        padding-left: 0px;
        width: 75%;
    }
    #second-4{
        padding-top: 50px;
        padding-left: 0px;
        width: 70%;
    }
}


@media screen and (max-width: 1000px){
    #title-3 {

        width: 67%;

    }


}



@media screen and (max-width: 600px) {
    #bienvenidos {
        font-size: 1.5em;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    #section-2{
        width: calc(100% - 50px);
    }

    #top-section{
        display: flex;
        flex-direction: row;
        height: 400px;
        width: 100%;
        padding-top: 30px;
    
    }

    #container-1-2{
        height: 97%;
        width: 50%;
        background-color: rgb(195, 193, 193);
        margin-left: 0px;
    
    }
    
    #container-2-2{
        height: 97%;
        width: 50%;
        background-color: rgb(195, 193, 193);
        margin-right: 0px;
    
    }


    #bottom-section{
        display: flex;
        flex-direction: column; /* Mantén los elementos en fila */
        justify-content: flex-start; /* Espacia los elementos de manera uniforme */
        align-items: flex-start; /* Alinea verticalmente al inicio */
        width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
        height: auto;
    
    }

    #first-2{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
    }
    
    #second-2{
        padding-top: 20px;
        width: 100%;
    }

    #lets-talk-2{
        padding-top: 20px;
        text-align: left;
    }

    #section-3 {
        width: calc(100% - 50px);
        height: auto;
        min-height: 100px;
        padding-bottom: 70px;
    }
    
    #left-3{
        width: 100%;
    }
    
    #right-3{
        width: 100%;
    }
    
    #container-1-3{
        margin-top: 20px;
        width: 100%;
        height: 60vw;
    }
    #container-1-3 img{
        width: 100%;    
        height: 100%;
        object-fit: cover;
    
    }
    
    /* Título */
    #title-3 {
        font-family: 'CormorantRegular', serif; /* Tipografía consistente */
        font-size: 3.2em; /* Tamaño del texto */
        color: var(--text-color); /* Color del texto */
        letter-spacing: 0.03em;
        line-height: 1em; /* Ajustar el espacio entre líneas */
        width: 80%;
        padding-top: 30px;
    }
    
    #lets-talk-3{
        text-align: left;
        padding-top: 30px;
        padding-left: 0px;
    
    }
    
    #first-3{
        padding-top: 30px;
        padding-left: 0px;
        width: 100%;
    }
    #second-3{
        padding-top: 30px;
        padding-left: 0px;
        width: 100%;
    }



    #section-4 {
        width: calc(100% - 50px);
    }
    
    
    #container-1-4{
        margin-top: 0px;    
    }
      
    
    #container-1-4 img{
        width: 100%;    
        height: 100%;
        object-fit: cover;
      }
    
    /* Título */
    #title-4 {
        font-size: 3.2em; /* Tamaño del texto */
        width: 100%;
        padding-top: 30px;
    }
    
    
    #lets-talk-4{
        text-align: left;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0px;
    
    }
    
    #first-4{
        padding-top: 30px;
        padding-left: 0px;
        width: 100%;
    }
    #second-4{
        padding-top: 30px;
        padding-left: 0px;
        width: 100%;
    }

    
}

@media screen and (max-width: 470px) {
    #bienvenidos {
        font-size: 1.3em;
    }

    #title-3{
        font-size:2.9em;
    }

    #title-4{
        font-size:2.9em;
    }

    #top-section{
        height: 45%;
    
    }



}

@media screen and (max-width: 384px) {

    #section-2{
        width: calc(100% - 20px);
    }

    #section-3 {
        width: calc(100% - 20px);
    }

    #section-4 {
        width: calc(100% - 20px);
    }

    #title-3{
        font-size:2.7em;
    }

    #title-4{
        font-size:2.7em;
    }

    #top-section{
        height: 40%;
    
    }



}

