/* Reseteo de márgenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Activar scroll vertical */
body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #efefef;
}

/* Aplicar CormorantRegular en los textos principales */
p, h2 {
    font-family: 'CormorantRegular', Arial, sans-serif;
}

p{
    background-color: transparent;
    font-size: 1em;
    letter-spacing: 0em;
}

#manifest {
    text-transform: none;
    letter-spacing: 0.05em;
    width: 80%;
    text-align: left;
}


h2 {
    font-size: 1,6rem; /* Tamaño común para todos los h2 */
    letter-spacing: 0.5rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #b7ccc3; /* Color usado en ambas secciones */
}

h3{
    color: #333333;
    font-size: 1.6rem;
    font-family: 'TTTravelsMedium';
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    width: 100%;
    letter-spacing: 0.23em;
    padding-bottom: 20px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    width: 100%;
    position: relative;
}

/* Aplica el degradado en la parte superior del contenedor */
main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%; /* Ajusta la altura para que el desvanecimiento sea sutil */
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    pointer-events: none;
    z-index: 3;
}

.separator {
    height: 1px; /* Define altura explícita */
    background-color: #333; /* Define color */
    width: 100%; /* Asegura que ocupa todo el ancho */
    margin: 20px 0; /* Espaciado superior e inferior */
    padding-bottom: 1px;
    display: block; /* Asegura visibilidad */
}

#section-1 {
    height: 100vh;
    width: 100%;
}

#image1-container {
    width: 70vw;
    padding-top: calc(50vw * 2 / 3);
    position: relative;
    overflow: hidden;
}

/* Separador de secciones */
#division {
    background-color: #b7ccc3;
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    z-index: 3;
}

/* Sección 2 - Estructura de dos lados */
#section-2 {
    display: flex;
    height: auto;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 60px;
    padding-top: 93px;
}

#section-2 .left-side {
    flex-basis: 66%;
    height: auto;
    display: flex;
    justify-content: left;
    padding-left: 30px;
    height: 100%;
    align-items: flex-start;
}

#image-container-section-2 {
    width: 100%;
    height: 70vh; /* El contenedor tiene altura fija */
    position: relative;
    overflow: hidden;
}

#image-container-section-2 img {
    width: 100%;
    height: 100%; /* Asegura que la imagen llene también el alto */
    object-fit: cover; /* La imagen se ajustará al contenedor incluso deformándose */
}


#section-2 .right-side {
    flex-basis: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 30px;
    /*padding-top: calc(65px + 30px); */
}

#division-final{
    background-color: #b7ccc3;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#division-final .column-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
}

#division-final .column {
    flex: 1;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 1400px) {
    #section-2 {
      flex-direction: column; /* Cambia las columnas a orientación vertical */
      width: 100%;
      gap: 0px;
    }
  
    #section-2 .left-side,
    .right-side {
      width: 100%; /* Asegura que ocupen todo el ancho */
      padding-left: 30px;
      padding-right: 30px;
    }

    #section-2 .left-side{
        padding-top: 0px;
    }

    #section-2 .right-side{
        padding-top: 30px;
    }
  }

  @media (max-width:1200px){
    #division{
        justify-content: flex-start;
        align-items: flex-start;
    }

    #manifest{
        width: 100%;
        text-align: left;
    }
    
  }


  @media (max-width: 600px) {
    #section-2 .right-side {
      width: 100%; /* Asegura que ocupen todo el ancho */
      padding-left: 0px;
      padding-right: 0px;
    }

    #section-2 .left-side {
        width: 100%; /* Asegura que ocupen todo el ancho */
        padding-left: 0px;
        padding-right: 0px;
      }

    #division{
        padding-left: 40px;
        padding-right: 40px;
    }

    #division-final{
        padding-left: 40px;
        padding-right: 40px;
    }

    #section-2 {
      padding-left: 40px;
      padding-right: 40px;
    }

    #manifest{
        width: 100%;
    }
}

