/* Animación para transiciones */
.fade-in {
    opacity: 0;
    animation: fadeIn var(--fade-in-time, 1s) ease-in forwards;
}

/* Definición de la animación */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animación para fade-out */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* Estilos generales para los contenedores */
#img-container-1 {
    position: absolute;
    width: 50%; 
    aspect-ratio: 12 / 8;
    background-color: transparent; 
    background-size: cover;
    background-position: center;
    bottom: 60px;
    right: 30px;
}

#img-container-2 {
    position: absolute; /* Posicionamiento relativo a la sección */
    width: 50%; /* 65% del ancho de la sección */
    aspect-ratio: 12 / 8; /* Proporción de 12:8 */
    background-color: transparent; /* Fondo gris para visualizarlo */
    top: 95px; /* 30px desde el borde superior */
    left: 30px; /* 30px desde el borde izquierdo */
    z-index: 1;
}

#img-container-3, #img-container-4 {
    position: absolute;
    height: 65%; /* 20% del ancho de la sección */
    aspect-ratio: 32 / 50; /* Proporción vertical 32:50 */
    background-color: transparent; /* Gris claro */
    min-height: 300px;
}

/* Posicionamiento específico para los contenedores */
#img-container-3 {
    top: 55%; /* Centrado verticalmente */
    left: 25%; /* Centrado en la mitad izquierda */
    transform: translate(-35%, -50%); /* Ajuste para centrar completamente */
}

#img-container-4 {
    top: 55%; /* Centrado verticalmente */
    left: 75%; /* Centrado en la mitad derecha */
    transform: translate(-65%, -50%); /* Ajuste para centrar completamente */
}

@media (max-width: 1200px){
    #img-container-3{
        left: 20%
    }
    #img-container-4{
        left: 80%; /* Cambia el ancho al 25% */
    }

}

/* Adaptaciones para pantallas menores de 960px */
@media (max-width: 960px) {
    #img-container-1 {
        width: calc(100% - 80px); /* 30px de distancia a derecha e izquierda */
        left: 40px; /* Mantiene la distancia desde el borde izquierdo */
        right: 40px; /* Mantiene la distancia desde el borde derecho */
        bottom: 80px; /* Mantiene 30px desde el borde inferior */
        top: auto; /* Elimina el centrado vertical en términos de top */
        transform: none; /* Elimina el ajuste de traslación */
    }

    #img-container-2 {
        width: calc(100% - 80px); /* 30px de distancia a derecha e izquierda */
        left: 40px; /* Mantiene la distancia desde el borde izquierdo */
        right: 40px; /* Mantiene la distancia desde el borde derecho */
        bottom: auto; /* Centra en el eje vertical */
        transform: none; /* Ajuste para centrar verticalmente */
    }

    #img-container-3{
        height: 60%
    }
    #img-container-4{
        height: 60%
    }

}

@media (max-width: 750px){
    #img-container-3{
        top: 66%;
        height: 50%;
        left: 30%; 
        margin-bottom: 30px;
        
    }
    #img-container-4{
        top: 41%;
        height: 50%;
        left: 70%;
        margin-bottom: 30px;
    }

    #img-container-1{
        margin-bottom: 30px;
    }

}



/* Sección para posicionamiento relativo */
#section-1 {
    position: relative; /* Necesario para que los contenedores se posicionen correctamente */
}
