/* Reseteo de márgenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Activar scroll vertical */
body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #efefef;
}

/* Aplicar CormorantRegular en los textos principales */
p, h2 {
    font-family: 'CormorantRegular', Arial, sans-serif;
}

p{
    background-color: transparent;
    letter-spacing: 0em;
}

h2 {
    letter-spacing: 0.5rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #a0ccb9; /* Color usado en ambas secciones */
}



body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.underline{
    text-decoration: underline;
}


/* Aplica el degradado en la parte superior del contenedor */
main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%; /* Ajusta la altura para que el desvanecimiento sea sutil */
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    pointer-events: none;
    z-index: 3;
}

.separator {
    height: 1px; /* Define altura explícita */
    background-color: #333; /* Define color */
    width: 100%; /* Asegura que ocupa todo el ancho */
    margin: 20px 0; /* Espaciado superior e inferior */
    padding-bottom: 1px;
    display: block; /* Asegura visibilidad */
}

.black{
    color: black;
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: bold;
    width: 70%;
    text-align: left;
}

#section-1 {
    height: 100vh;
    width: 100%;
}

#image1-container {
    width: 70vw;
    padding-top: calc(50vw * 2 / 3);
    position: relative;
    overflow: hidden;
}

/* Separador de secciones */
#division {
    background-color: #adc4b9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 60px;
    width: 100%;
}

#division h2 {
    font-family: 'TTTravelsBold';
    font-weight: Bold;
    font-size: 1.4em;
    letter-spacing: 0.25em;
    width: 100%;
    text-align: left;
    padding-left: 30px;
    width: 33%;
}

#manifest {
    width: 66%;
    text-transform: none;
    font-size: 1.3em;
    letter-spacing: 0.15em;
    width: 100%;
    text-align: left;
    padding-left: 190px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Sección 2 - Estructura de dos lados */
#section-2 {
    display: flex;
    height: auto;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 60px;
    padding-top: 60px;
}

#section-2 .left-side {
    flex-basis: 50%;
    height: auto;
    display: flex;
    justify-content: left;
    padding-left: 30px;
    height: 100%;
    align-items: flex-start;
}

#image-container-section-2 {
    width: 100%;
    height: auto; /* El contenedor tiene altura fija */
    position: relative;
    overflow: hidden;
}

#image-container-section-2 img {
    padding-top: 5px;
    width: 100%;
    height: 100%; /* Asegura que la imagen llene también el alto */
    object-fit: cover; /* La imagen se ajustará al contenedor incluso deformándose */
}


#section-2 .right-side {
    flex-basis: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 30px;
    /*padding-top: calc(65px + 30px); */
}

#section-2 .right-side h2, #section-2 .right-side p {
    width: 85%;
    text-align: left;
}

#division-final{
    background-color: #adc4b9;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 60px;
}

#division-final h2{
    font-family: 'TTTravelsBold';
    font-weight: Bold;
    font-size: 1.4em;
    letter-spacing: 0.25em;
    width: 70%;
}

#division-final .column-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 0px;
}

#division-final .column {
    flex: 1;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#division-final p {
    font-size: 1em;
    width: 100%;
    letter-spacing: 0.15em;
    align-items: center;
    text-align: justify;
}

#division-final .column video{
    width: 70%;
    margin-left: auto;
}

/* Media query para pantallas más pequeñas */
  @media (max-width: 1400px) {
    #section-2 .left-side {
        flex-basis: 48%;
    }
    #section-2 .right-side {
        flex-basis: 52%;
        width: 70%;
    } 

    .separator {
        width: 90%;
    } 
    }

  @media (max-width:1200px){
    #division{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #division h2 {
        padding-bottom: 30px;
        width: 100%;
    }

    #manifest {
        font-size: 1.4em;
        letter-spacing: 0.15em;
        width: 95%;
        padding-left: 30px;
    }


    #division-final .column-container {

        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    
    #division-final .column {
        flex: 1;
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    
    #division-final p {
        width: 80%;
    }
    
    #division-final .column video{
        width: 100%;
        padding-left: auto;
    }

    #section-2 .right-side {
        width: 100%;
        padding-left: 30px;
    } 

    .separator {
        width: 100%;
    } 

    #section-2 .right-side p {
        width: 100%;
        text-align: left;
    }

    #section-2{
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-right: 30px;
    }
    
  }

  @media (max-width: 900px){
    #section-2 {
        flex-direction: column; /* Cambia las columnas a orientación vertical */
        width: 100%;
        gap: 0px;
        padding-right: 0px;
      }
    
      #section-2 .left-side,
      .right-side {
        width: 100%; /* Asegura que ocupen todo el ancho */
        padding-left: 30px;
        padding-right: 30px;
      }
  
      #section-2 .left-side{
          padding-top: 0px;
      }
  
      #section-2 .right-side{
          padding-top: 30px;
      }
  
      #image-container-section-2 {
          width: 100%;
  
      }

      #section-2 .right-side h2, #section-2 .right-side p {
        width: 100%;
        text-align: left;
    }

    #manifest {
        font-size: 1.3em;
        letter-spacing: 0.15em;
        width: 100%;
    }

  }


  @media (max-width: 600px) {

    #section-2 .right-side h2, #section-2 .right-side p {
        width: 100%;
        text-align: left;
    }
    
    #section-2 .right-side {
      width: 100%; /* Asegura que ocupen todo el ancho */
      padding-left: 0px;
      padding-right: 0px;
    }

    #section-2 .left-side {
        width: 100%; /* Asegura que ocupen todo el ancho */
        padding-left: 0px;
        padding-right: 0px;
      }

    #division{
        padding-left: 20px;
        padding-right: 20px;
    }

    #division-final{
        padding-left: 40px;
        padding-right: 40px;
    }

    #section-2 {
      padding-left: 40px;
      padding-right: 40px;
    }

    #manifest{
        font-size: 1.3em;
        width: 100%;
    }

    #division-final .column-container {
        flex-direction: column;
    }
    

    #division-final .column video{
        width: 100%;
        padding-top: 30px;
        padding-left: auto;
    }


    .black{
        padding-bottom: 30px;
    }

    #manifest {
        font-size: 1.2em;
        letter-spacing: 0.15em;
        width: 100%;
    }

    #division-final .column p{
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
        text-align: left;
    }
    
}

