* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #efefef;
}

main{
    padding-right: 30px;
    padding-left: 30px;
}

/* Aplica el degradado en la parte superior del contenedor */
main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%; /* Ajusta la altura para que el desvanecimiento sea sutil */
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    pointer-events: none;
    z-index: 3;
}

h2{
    padding-top: 145px;
    width: 66.67%; /* La sección ocupa el 66% del ancho del main */
    margin-left: auto; /* Desplaza la sección hacia la derecha */
    font-size: 1.6em;
    letter-spacing: 0.5rem;
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color:#a0ccb9;
    text-align: left;
    padding-bottom: 20px;
}

p{
    font-family: 'CormorantRegular', Arial, sans-serif;
    font-size: 1em;
    color: #333333;
}

.separator {
    height: 1px; /* Define altura explícita */
    background-color: #333; /* Define color */
    width: 66.67%; /* Asegura que ocupa todo el ancho */
    margin-bottom: 30px;
    padding-bottom: 1px;
    padding-right: 30px;
    display: block; /* Asegura visibilidad */
    margin-left: auto;
}

section{
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
    width: 100%;
}

.section-1 p{
    width: 100%;
    max-width: 33.33%; /* Asegura que no exceda el 66.67% */
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 0;
    text-align: left; /* Justifica el texto a la izquierda */

}

.section-1 .image-container{
    width: 100%;
    max-width: 66.67%; /* Asegura que no exceda el 66.67% */
    align-items: flex-start;
    background-color: transparent;
}

.section-1 img{
    width: 70%;
    height: auto;
    display: block;
}

.section-2 p{
    width: 100%;
    max-width: 50%; /* Asegura que no exceda el 66.67% */
    margin: 0;
    text-align: left; /* Justifica el texto a la izquierda */
    padding-left: 30px;

}

.section-2 .image-container{
    width: 100%;
    max-width: 50%; /* Asegura que no exceda el 66.67% */
    align-items: flex-start;
    background-color: transparent;
}

.section-2 img{
    width: 100%;
    height: auto;
    display: block;
}


.section-3 .grid {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1.4fr 1fr 1.4fr; /* 4 columnas iguales */
    gap: 20px; /* Espaciado entre elementos */
    align-items: center; /* Alinear elementos verticalmente */
    justify-items: stretch; /* Centrar contenido en cada celda */
}

.section-3 p{
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 0;
    text-align: left; /* Justifica el texto a la izquierda */
    justify-self: start; /* Posiciona el texto al extremo derecho de su celda */
    align-self: start;

}

.section-3 .image-container{
    width: 100%;
    aspect-ratio: 1.3 / 1.9; /* Relación de aspecto 1:2 (ancho:alto) */
    align-items: flex-start;
    background-color: transparent;
}

.section-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Media Queries para tamaños medianos */
@media screen and (max-width: 1200px) {
    h2{
        font-size: 1.3em;
    }

    p{
        font-size: 1em;
    }
    .section-1 img{
        width: 85%;
        height: auto;
        display: block;
    }

    .section-2 p{
        max-width: 40%; /* Asegura que no exceda el 66.67% */
    }
    
    .section-2 .image-container{
        max-width: 60%; /* Asegura que no exceda el 66.67% */
    }

    .section-3 .grid {
        width: 100%;
    }

    .section-3 .grid {
        grid-template-columns: 1fr 1.9fr 1fr 1.9fr; /* 4 columnas iguales */
    }
}

@media screen and (max-width: 900px){
    main{
        padding-right: 40px;
        padding-left: 40px;
    }
}

/* Media Queries para tamaños pequeños */
@media screen and (max-width: 600px) {
    h2{
        font-size: 1.2em;
        width: 100%; 
    }
    
    p{
        font-size: 1em;
    }

    .separator {

        width: 100%; /* Asegura que ocupa todo el ancho */
    }
    
    .section-1 img{
        width: 100%;
        padding-left: 20px;
    }

    .section-2 p{
        max-width: 30%; /* Asegura que no exceda el 66.67% */
    }
    
    .section-2 .image-container{
        max-width: 70%; /* Asegura que no exceda el 66.67% */
    }

    .section-3 .grid {
        width: 100%;
    }

    .section-3 .grid {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr; /* Define dos columnas con diferentes anchos */
        grid-template-rows: 1fr 1fr; /* Ajusta automáticamente la altura de las filas */
        gap: 50px; /* Espaciado entre elementos */
        grid-template-areas: 
            "text1 img1"  /* Primera fila: texto y su imagen */
            "img2 text2"; /* Segunda fila: imagen y su texto (swapeados) */;
    }
    
    .section-3 .grid > :nth-child(1) {
        grid-area: text1; /* Primera celda (texto de la fila 1) */
    }
    
    .section-3 .grid > :nth-child(2) {
        grid-area: img1; /* Segunda celda (imagen de la fila 1) */
    }
    
    .section-3 .grid > :nth-child(3) {
        grid-area: text2; /* Cuarta celda (texto de la fila 2) */
    }
    
    .section-3 .grid > :nth-child(4) {
        grid-area: img2; /* Tercera celda (imagen de la fila 2) */
    }
    

}


@media screen and (max-width: 400px) {


}



